
/* Original da */

section.section.thin{
  padding: 0;
  border: 0;
}




section.section{
  padding-top: 1rem;
}

.search{  
  text-align: right;
}

/* Collapsible starts here */

.Collapsible__contentInner p {
 
  font-size: 14px;
  line-height: 20px; 
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0; 
}

.Collapsible__trigger { /* asta misca toata bara de trigger */
    /* display: block; */
   
    font-weight: 400;
    text-decoration: none;
    color: blue;
    background: transparent; /*add transparent */
    color: orangered; 
}
  
.Collapsible__trigger:after {
  right: 10px;
  display: block;
  text-align: center;
  transition: transform 300ms; 
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); 
  margin-bottom: 35px;  
}

.Collapsible__trigger.is-open::after{
  color: red;
}

.Collapsible__trigger.is-closed:after {
  margin-bottom: 35px;  
}


.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; 
 
}

/* this is the Plus icon it , right */
.Collapsible {
  margin-top: -42px;
  text-align: right; 
  margin-right:0px;
  /* margin-right: 42px; Old, to make + sign appear where it should */
}

.zeIcon{
  width: 21px;
  height: 21px;
  color: white;
  margin-right: 5px;
  border: 0px;
  cursor: pointer;
  margin-right:44px;
  }

  .zeIcon:after{
    color: red;
  }



/*
  .zeIcon:hover{
  background-color: #fff;
} 

.Nav--MenuButton svg:hover{
  color: #fff;
}

svg.zeIcon:hover{
  background-color: #fff;

}
*/
 

/* The proper Search! now */
.properSearch{ 
  color: red;
}

.metaCats {
  background-color: black;
  
}

.container::before{
  background-color: black;
}
.container::after{
  background-color: black;
}

/* Lista sa fie pe aceeasi linie */
ul li{
  display: inline-block;

}

/* This happens for Android Play Store */
@media (max-width: 720px) {

  ul li{
    display: inline-block;
  }

  .SecondNav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
 
  }

  .SecondNav a  {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
    
  .SecondNav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .SecondNav a.active {
    background-color: #4CAF50;
    color: white;
  }
  

  
  .stickyNav {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }



}

