
/* Original da */

section.section.thin{
  padding: 0;
  border: 0;
}

section.section{
  padding-top: 1rem;
}

.search{  
  text-align: right;
}

/* Collapsible starts here */

.Collapsible__contentInner p {
 
  font-size: 14px;
  line-height: 20px; 
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0; 
}

.Collapsible__trigger { /* asta misca toata bara de trigger */
    /* display: block; */
   
    font-weight: 400;
    text-decoration: none;
    color: blue;
    background: transparent; /*add transparent */
    color: orangered; 
}
  
.Collapsible__trigger:after {
  right: 10px;
  display: block;
  text-align: center;
  transition: transform 300ms; 
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); 
  margin-bottom: 35px;  
}

.Collapsible__trigger.is-closed:after {
  margin-bottom: 35px;  
}


.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; 
 
}

/* this is the Plus icon it , right */
.Collapsible {
  margin-top: -42px;
  text-align: right; 
  margin-right: 42px;

  padding-bottom: 10px;
}


 


/* The proper Search! */
.properSearch{ 
  margin-right: 85px;
  margin-top: -63px;
  margin-bottom: 18px;
  color: #D3E0B5;
}

.zeIcon{
  width: 21px;
  height: 21px;
  color: white;
  margin-right: 5px;
  border: 0px;
  cursor: pointer;
  }


/*
  .zeIcon:hover{
  background-color: #fff;
} 

.Nav--MenuButton svg:hover{
  color: #fff;
}

svg.zeIcon:hover{
  background-color: #fff;

}
*/

