#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers .nuCrestinSursa{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  red;
    color: white;
    width: 35%;
  }
  
  #customers .nuCrestinReferinta{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  grey;
    width: 65%;
  }
  


  #customers .daCrestin{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  span 
{
    display: block;
}

.nameFancy{
    font-weight: 700;
    font-size: 120%;
}

hr{
  opacity: 0.5;
}

span .exPlanation{
  font-size: 10px;
}