.CopyWebsiteUrl{
  right: 0;
  top: 0;
  float: right;
  position: absolute;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  
}


.miniPosts{
  width: 100%;
  padding: 5rem 0;
  border-bottom: 1px solid #f1f1f1;
}

.section:last-child {
  border: 0;
}



.CopyUrlButton{
  background-color: #F5F5F5;
}

.manyMan{
  padding-top: 17px;
  
}

.SinglePost {
  background: var(--lightGrey);
  margin-top: -35px;
  padding-top: 1rem;
  
}

p.seeMore{
  font-size: 1.4rem;
  margin: 0 auto;
}


.noSearchNav{
  margin-bottom: 35px;
}

.napoiButton{
  color:rgb(30, 144, 255);
}



.maiMulteArt{
  bottom: 45px;
  left: 25px;
  position: absolute;
  font-size: 16px;
}


.SinglePost--Content {
  background: white;
  min-height: 81vh;
  margin-bottom: 0;
  margin-top: 4px;
  margin-bottom: -11px;
   /* padding: 4rem; 
  padding-top: 20px;*/
}

@media screen and (max-width: 750px) {
  
  /* .SinglePost--Content {
    padding: 4rem 2rem;
  } */
}

.SinglePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 700;

}

.SinglePost--InnerContent {
  padding: 0 4rem;
  padding-top: 3rem;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 0;
  }
}

.SinglePost--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}

.copyLink{
  font-size: 25px;
  color: green;
}

.aFocus:focus{
  color: green;
}


.SinglePost--Meta--Category{
  font-size: 1.4rem;
  line-height: 1.15;
  
  color: #459c98;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
  
  
}


h1{
  font-weight: 700;
  line-height: 1.15;
  font-size: 3.4rem;
}

h2{
  font-weight: 700;
  line-height: 1.15;
  font-size: 3.2rem;
}

p{
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem; 
  font-family: Georgia, 'Times New Roman', Times, serif
}

/* Not working yet
@media screen and (max-width: 440px) {
  .SinglePost--Title {
    font-size: 3rem;
  }
}

 */