.SinglePost {
  background: var(--lightGrey);
  margin-top: -25px;
  padding-top: 1rem;
  
}
body{
  height: 100vm;
}
.SinglePost--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.SinglePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SinglePost--Content {
  background: white;
  padding: 4rem;
  padding-top: 20px;
}

@media screen and (max-width: 750px) {
  .SinglePost--Content {
    padding: 4rem 2rem;
  }
}

.SinglePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.15;
  font-size: 5rem;
  font-weight: 700;

}

.SinglePost--InnerContent {
  padding: 0 4rem;
  padding-top: 3rem;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 0;
  }
}

.SinglePost--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}

.SinglePost--Meta--Category{
  padding-left: 5px;
  font-size: 1.2rem;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
  border: solid 1px #42B2A4;
  display: inline-block; /* Wraps div around the text only */
  background:#86CBD1;
  color: white;
  font-weight: 700;
}

h1{
  font-weight: 700;
  line-height: 1.15;
  font-size: 3.4rem;
}

h2{
  font-weight: 700;
  line-height: 1.15;
  font-size: 3.2rem;
}

p{
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem; 
  font-family: Georgia, 'Times New Roman', Times, serif
}