
.search{  
	text-align: right;
  }
  


input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}



input[type=search] {
	background: white url(../../static/images/search-icon.png) no-repeat 9px center;
	border: 0px;
	width: 50px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 130px;
	background-color: white;
	border-color: #D3E0B5;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #D3E0B5;
}
input::-webkit-input-placeholder {
	color: #D3E0B5;
}


#demo-2 input[type=search] {
	width: 17px;
    padding-left: 5px;
    padding-right: 10px;
	color: transparent;
	cursor: pointer;
	
}
#demo-2 input[type=search]:hover {
	/* background-color: #fff; */
}
#demo-2 input[type=search]:focus {
	width: 65px;
	padding-left: 32px;
	color: black;
	background-color: #fff;
	cursor: auto;
	font-weight: 500;
}

#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}


.search{
	margin-right: 40px;
	margin-top: -65px;
	margin-bottom: 20px;
  }



/* Google Play Store */

@media (max-width: 720px) {

	  .search{
		margin-right: -5px;
		margin-top: -65px;
		margin-bottom: 20px;
	  }


}