@media (max-width: 720px) {

  
	.logoTextA p{
	  float: left;
	  width: 250px;
	  font-weight: 400;
	  margin-left: -15px;
	}
  
}



.logoTextA p{
	font-size: 130%;
	padding-left: 5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	position: relative;
	color: red;
	width: 150px;
	line-height: 0.8;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 999;
	padding-left: 50px;
  }

  a{
	text-decoration: none;
	position: relative;
  }
  


#wrappersearch {
 
    padding-left: 2px;
   /*  background: white; */
    left: 0;
    /* border: 1px solid #252525; */
    display: inline-block; /* shrink to fit */
    width: 90%;           /* whatever width you like */
	
    
}

#search-form-1 {
    display: block;
    margin-bottom: 10px;
    
}


/** Search Fields **/
.search-field-1, .search-field-2 {
    right: 0;
    z-index: 999999;
    float: right;
    display: block;
    width: 50px;
    padding: 10px 10px;
	position: fixed;
	height: 62px;
    /* Keeps input text from running over the search button */
    background-color: #fff;
    font-size: 12px;
    color: #ccc;
    border: 4px solid #f4f4f4;
    /* CSS3 Box Sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* CSS3 Rounded Corners */
    border-radius: 10px;
    /* CSS3 Transition (Expanding Effect) */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	

	

}

/** Search Field 1 Focus (Full Width) **/
.search-field-1:focus, .search-field-1:focus {
    outline: none;
    width: 100%;
   /* full width ALWAYS has to be 100% color: #252525;
     CSS3 Outer Shadow */
    -webkit-box-shadow: 0 0 0 10px #999;
    -moz-box-shadow: 0 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

.logoMe{
	color: white;
	padding-left: 40px;

}


/* Google Play Store */

@media (max-width: 720px) {


}