.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}



/* This happens for Android Play Store */

@media (max-width: 720px) {
  .Logo {
    display: none;
  }
} 
  



