.NavLink {
  font-size: 1.2rem;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
  border: solid 1px #E07F5D;
  display: inline-block; /* Wraps div around the text only */
  background:#C28D9D;
  color: white;
  font-weight: 700;

}



.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: var(--primary);
  border-bottom-color: currentColor;
}
