.PostCard {
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

/* 
.SinglePost--Meta--Date{
   float: left;   
} */



.author-profile-image{
  width: 50px;
  height: 50px;
  float:left;
  margin-right: 8px;
}

.avatarPhoto{
  width: 50px;
  height: 50px;
 
}



a.PostCard:visited{
  color:#5f697a;
}

.PostCard:hover,
.PostCard:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.PostCard--Image {
  margin-bottom: 10px;
  width: 100%;
  height: 15rem;
}


.PostCard--Title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.15;
  
}

.PostCard--Content {
  padding: 0 1.5rem 1.5rem;
}

.PostCard--Category {
  font-size: 1.4rem;
  line-height: 1.15;
  color:rgb(91, 122, 129);
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
}

.cateGory{
  float:left;
}

span.SinglePost--Meta--Category{
  font-size: 1rem;
}
.PostCard--Excerpt {
  line-height: 1.55em;
  
}



.post-card-avatar {
  margin-top: 7px;

}

@media (max-width: 490px) {
  .PostCard--Title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  h1.SinglePost--Title{
    font-size: 3.4rem;
  }

  h2{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.15;
  }
  p{
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7;
  }
}