.PostCard {
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}


/* Fixing to the bottom*/

.SinglePost--Meta--Date{
  float: left;   
  bottom:0;
  padding-bottom: 5px;
  position: absolute;
}

.avatarPhoto{
  float: left;   
  bottom:0;
  position: absolute;
 
}

.estimateReadingTime{
 float: right;
 bottom:0;
 padding-bottom: 5px;
 position: absolute;
 right:0;
 padding-right: 5px;
}
/* end of*/



.author-profile-image{
  width: 30px;
  height: 30px;
  float:left;
  margin-right: 8px;
}


.avatarPhoto{
  width: 30px;
  height: 30px;
 
}


/* Link vizitat schimba culoarea */
a.PostCard:visited{
  color:#5f697a;
}

.PostCard:hover,
.PostCard:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.PostCard--Image {
  margin-bottom: 10px;
  width: 100%;
  height: 15rem;
}


.PostCard--Title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.15;
  
}

.PostCard--Content {
  padding: 0 1.5rem 1.5rem;
}

.PostCard--Category {
  font-size: 1.4rem;
  line-height: 1.15;
  color:rgb(91, 122, 129);
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
  

}

.cateGory{
  float:left;
}

span.SinglePost--Meta--Category{
  font-size: 1rem;
  
  bottom:0;
 
  
}

.PostCard--Excerpt {
  line-height: 1.55em;
  
  
}



.post-card-avatar {
  margin-top: 7px;

}

@media (max-width: 490px) {
  .PostCard--Title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 5px;
  }
  h1.SinglePost--Title{
    font-size: 3.4rem;
  }

  h2{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.15;
  }
  p{
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7;
  }
}



/* Google Play Store only */
@media (max-width: 720px) {
  


  .PostSection{
    padding: 0;
    margin: 0;
    border:0;
    overflow-y: hidden;
  }
  

.PostsThemselves{
  width: 100%;
  margin: 0;
  padding: 0;
  
}

 a.PostCard {
    /* border-bottom: 1px solid #5f697a; */
    margin: 1%;
    width: 100%;
    height: 9rem;
    margin-bottom: 1.5%;

  }

  .PostCard{
  width: 100%;
  border: 0;
  margin: 0;
  }

  .PostCard--Image.relative{
    width: 23%;
    vertical-align: top;
    display: inline-block;
    height: 9rem;
    
  }

  .PostCard--Content{
    display: inline-block;
    width: 76%;
    
  }


  .miniPosts{
    background: black;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .TimeSincePosted{
    visibility: visible;
    bottom: 0;
    right: 5px;
    position: absolute;
    font-size: 11px;
  }


  .shareTheWord {
    right: 0;
    float: right;
    margin-right: -10px;
  }

  svg.svgCard{
    width: 16px;
    height: 16px;
  }

  .post-card-MetaFull{
    visibility: visible;
  }

  .estimateReadingTime{
    display: none;
  }

  .avatarPhoto{
    display: none;
  }

  .PostCard--Excerpt {
    line-height: 1.55em;
    display: none;
  }

 

}



