.NavLink {
  font-size: 1.6rem;
  line-height:1;
  margin: 0.5em 0;
  /* border: solid 1px #E07F5D; */
  display: inline; /* Wraps div around the text only */
  background: #e7e7e7;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.NavLinkMetaCategory {
  font-size: 1.6rem;
  line-height:1;
  margin: 0.5em 0;
  /* border: solid 1px #E07F5D; */
  display: inline; /* Wraps div around the text only */
  background: #e7e7e7;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




.NavLinkMetaCategory:hover,
.NavLinkMetaCategory:active,
.NavLinkMetaCategory:focus {

  background-color: #459c98;
 
}
a.NavLinkMetaCategory{
  padding-left:5px;
  padding-right:5px;
  margin-right:1.5px;
  margin-left:1.5px;
}

a.NavLinkMetaCategory:hover{
  color: white;
  border-bottom-color: #E27D5F;
  }

.NavLinkMetaCategory.undefined{
    background: none;
    color: grey;
   
  } 

.NavLink:hover,
.NavLink:active,
.NavLink:focus {

  background-color: #459c98;
 
}

a.NavLink{
  padding-left:5px;
  padding-right:5px;
  margin-right:1.5px;
  margin-left:1.5px;
}

a.NavLink:hover{
color: white;
border-bottom-color: #E27D5F;
}



/* Pentru menu in burger */
.NavLink.undefined{
  background: none;
  color: grey;
  font-size: 2rem;
  
}

/* Iconita din fata menu in burger */
.NavLink.undefined svg{
  padding-top: 7px;
  }


.NavLink.active.undefined{
  border-bottom-color: none;
}

.NavLink.undefined:active,
.NavLink.undefined:hover,
.NavLink.active.undefined{
  color: #459c98;
}

.PostCategoriesNav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.PostCategoriesNav > * + * {
  margin-left: 1rem;
}

.PostCategoriesNav input[type='text'] {
  right: 0;
  position: absolute;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.PostCategoriesNav input[type='text']:focus {
  outline: none;
}

.PostCategoriesNav input[type='text']::placeholder {
  color: black;
}

@media (max-width: 600px) {
  .PostCategoriesNav input[type='text'] {
    position: relative;
    
  }

  .PostCategoriesNav {
  
    display: flex;
  
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 12px;
  }

  a.NavLink{
    padding-left:5px;
    padding-right:5px;
    margin: 1.5px;
  }

}

#innerCollapsible{
  margin: 0 auto;
}




/* Google Play Store only */
@media (max-width: 720px) {

  .PostMetaCategoriesNav{
		background-color: grey; 
    margin-top: -25px;
   
		
    }
    
    .PostCategoriesNav{
      background-color: gainsboro;
      
      }

}

